.card {
    margin-top: 8%;
    flex-basis: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 2px black;
    background-color: white;
}

.card-title {
    margin-top: 5%;
    font-size: 2.5em;
    font-weight: 400;
}

.card-list {
    width: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 1.5em;
    font-weight: 200;
    flex-wrap: wrap;
}

.card-list-item.icon {
    margin-top: 5%;
    width: 70%;
    flex-grow: 1;
}

.card-list-item.icon img {
    width: 100%;
}

@media (orientation: landscape) {
    .card {
        margin-top: 1%;
        width: 95%;
        height: 70%;
        justify-content: space-between;
    }

    .card-title {
        margin-top: 2%;
    }

    .card-list {
        margin-top: 0;
        max-height: 70%;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .card-list-item.icon {
        margin-top: 0;
        width: 30%;
    }

}