.nav {
    height: 0;
    width: 100%;
    background: rgb(115, 0, 186);
    box-shadow: 0 0 15px 2px rgb(115, 0, 186);
    font-size: 1.5em;
    overflow: hidden;
    transition: 0.5s;
}

.nav.visible {
    height: 40%;
}

.nav-list {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}

.nav-item {
    flex-basis: 25%;
    border-right: 2px solid white;
}

.nav-link {
    height: 8vh;
    display: block;
    line-height: 8vh;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: .5s;
}

.nav-item:last-child {
    border: none;
}

.hamburger-icon {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 15px;
}

.line {
    width: 100%;
    border: 2px solid white;
    transition: 0.5s;
}

.line-one.isCrossed {
    transform-origin: right top;
    transform: rotate(-45deg);
}

.line-two.isCrossed {
    opacity: 0;
}

.line-three.isCrossed {
    transform-origin: right bottom;
    transform: rotate(45deg);
}

@media (orientation: landscape) {
    .nav {
        font-size: 1.7em;
    }

    .nav.visible {
        height: 60%;
    }
}

@media (orientation: portrait) and (min-width: 600px) {
    .hamburger-icon {
        width: 60px;
        height: 50px;
        right: 30px;
        top: 20px;
    }

    .line {
        border: 4px solid white;
    }
}

@media (orientation: landscape) and (min-width: 830px) {
    .hamburger-icon {
        width: 60px;
        height: 50px;
        right: 30px;
        top: 20px;
    }

    .line {
        border: 4px solid white;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .nav {
        height: 60%;
    }

    .nav-link:hover {
        transform: scale(1.2);
    }

    .hamburger-icon {
        display: none;
    }
}