.statistic {
    width: 80%;
    height: 35%;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 15px 2px black;
}

.statistic h3 {
    font-size: 2em;
    font-weight: 400;
}

@media (orientation: landscape) {

    .statistic {
        height: 70%;
        width: 45%;
    }
}